/configs/
/logs/
/scripts/
/custom-commands/
/build/

/src/plugins/**

!src/plugins/_Example/
!src/plugins/_Example/**

.vagrant/
.vscode
.DS_Store

bin/
node_modules/

package-lock.json

*.zip
*.sqlite
/.idea
